
extends ../layouts/post-page.pug

include ../mixins/intro-box 

block intro

    +introBox(
        "Coffee variety macchiato as organic",
        "JUNE 25, 2020",
        "TRAVEL",
    )
        p.max-w-80ch Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.


block article 


    .grid.gap-6.font-extralight
        h2 On deer horse aboard tritely yikes and much

        p.leading-relaxed The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.

        ul.list-disc.p-10
            
            li This however showed weasel
            
            li Well uncritical so misled
            
            li Goodness much until that fluid owl

        p.leading-relaxed When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.


        
        h2 Overlaid the jeepers uselessly much excluding
        
        p.leading-relaxed But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using her.


        blockquote(
            class="font-bold leading-normal py-6 px-4 "
            w:border-l="4 gray-700 solid"
        ) Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. 

        p.leading-relaxed It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.

        h3 According a funnily until pre-set or arrogant well cheerful

        p.leading-relaxed The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.

        ol.list-decimal.px-10.py-4
            
            li So baboon this
            
            li Mounted militant weasel gregariously admonishingly straightly hey
            
            li Dear foresaw hungry and much some overhung
            
            li Rash opossum less because less some amid besides yikes jeepers frenetic impassive fruitlessly shut
        

        p.leading-relaxed When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.

        blockquote(
            class="font-bold leading-normal py-6 px-4"
            w:border-l="4 gray-700 solid"
        ) The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.
        
        p.leading-relaxed But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using her. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

        h4 Silent delightfully including because before one up barring chameleon
        
        p.leading-relaxed Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.

        
        p.leading-relaxed Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.

        h5 WHEREVER FAR WOW THUS A SQUIRREL RACCOON JEEZ JAGUAR THIS FROM ALONG

        p.leading-relaxed She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.

        h6 Slapped cozy a that lightheartedly and far

        p.leading-relaxed The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again.