
mixin baseButton(href, extraClasses="")

    a.rounded-full.p-2.text-md.flex.gap-4&attributes(attributes)(
            href=`${href}`
            class=`border-current border-solid border-1 ${extraClasses}`
        )

        if block 
            block 

        else 
            p.text-red-500 No content to display here
            

                